.logo{
    font-size: 30px;
}
.link{
    text-decoration: none;
    color: white;
}
.bar{
    font-size: 20px;
}
.active{
    max-width: 300px;
}
.symbol{
    font-size: 30px;
}
.image{
    background-size: cover;
    max-width: 210vh;
}
.sticker{
    font-size: 30px;
    color: rgb(28, 97, 53);
}
.category > h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
}
.category > p{
    text-align: center;
    margin-top: 30px;
}
.arrivals{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}
.arrivals > p{
    font-family: none;
    font-size: 20px;
    margin-top: 30px;
}
.card-img{
    max-height: 30rem;
}
.ourblogs{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icons{
    margin-top: 50px;
    font-size: 50px;
}